.datatable{
    height: 800px;
    padding: 30px;

    .tss-1cdcmys-MUIDataTable-responsiveBase{
        max-height: 700px !important;
        border: solid 2px blue;
        // border: solid 2px blue;
    }
    .datagrid{

        .corpse{
            color: #222;

        }
        

    .cellWithBan{
        padding: 5px;
        border-radius: 5px;

        &.Activo{
            background-color: rgba(0, 128, 0, 0.05);
            color: green;
        }

        &.Baneado{
            background-color: rgba(255, 217, 0, 0.05);
            color: goldenrod;
        }
    }
    
    .cellWithStatus{
        padding: 5px;
        border-radius: 5px;

        &.user{
            background-color: rgba(0, 128, 0, 0.05);
            color: green;
        }

        &.admin{
            background-color: rgba(255, 217, 0, 0.05);
            color: goldenrod;
        }
    }

    .cellAction{
        display: flex;
        align-items: center;
        gap: 15px;

        .adminButton{
            padding: 3px 6px;
            border-radius: 5px;
            color: goldenrod;
            border: 1px dotted goldenrod;
            cursor: pointer;

            &:hover{
                background-color: rgb(245, 230, 191);
            }
        }
        .banButton{
            padding: 3px 6px;
            border-radius: 5px;
            color: red;
            border: 1px dotted red;
            cursor: pointer;

            &:hover{
                background-color: #e6b0b5;
            }
        }
    }
}
}
.tss-1937jnc-MUIDataTableHead-main{
    background-color: blue;
}