/* .title {
  margin-left: 43%;
  color: black;
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-top: 25px;
}
.formulario {
  background-color:  #16213e;

  margin-left: 30%;
  margin-right: 30%;
  margin-top: 50px;
  border-radius: 2rem;
}

.p {
  color: #fcf8e8;
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-left: 10%;
  margin-right: 20px;
}

.inputs {
  color: black;
  font-size: 20px;
  width: 50%;
  border-radius: 2 rem;
  width: 65%;
  height: 65%;
}

.inputImage {
  background-color: white;
  color: black;
  font-size: 20px;
  width: 65%;
  border-radius: 6px;
  height: 1%;
}

.inputPrecio {
  color: black;
  font-size: 20px;
  width: 50%;
  border-radius: 2 rem;
  width: 45%;
  height: 45%;
  margin-right: 20%;
}

.inputSelect {
  color: black;
  font-size: 20px;
  width: 50%;
  border-radius: 2 rem;
  width: 45%;
  height: 45%;
  margin-right: 20%;
}

.contenedor {
  display: flex; 
  padding: 15px;
  justify-content: space-between;
  margin-top: 1.5%;
}

.button {
  background-color: #277bc0;
  color: #fcf8e8;
  font-style: italic;
  font-size: 22px;
  font-family: fantasy;
  padding: 5px;
  border-radius: 0.5rem;
  margin-top: 2%;
  width: 15%;
  margin-left: 75%;
  margin-bottom: 2%;
}

.button:hover {
  background-color: #67bee1;
} */
