.homeAdmin {
    display: flex;

    .homeContainer{
        flex: 6;
        width: 80%;

        .widgets, .charts{
            width: 100%;
            display: flex;
            padding: 25px;
            gap: 25px;
        }

        .widgets{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }

        .charts{
            padding: 15px 25px;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        }
    }
}


@media(max-width : 950px){
    .homeContainer{
        margin-left: 40px;
    }
    .charts{
        flex-direction: column;
    }
}
