.newProduct{
    display: flex;


    .newProductContainer{
        flex: 6;

        .top{
            margin-bottom: 30px;
            margin-top: 20px;
        }

        .top, .bottom{
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            padding: 20px;
            margin-left: 10%;
            margin-right: 10%;
 

            h1{
                color: rgb(160, 158, 158);
                font-size: 20px;
                align-items: center;
            }


            form{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                gap: 20px;
                margin-bottom: 20px;
                justify-content: space-between;

                .inputsContainerImg{
                    width: 100%;
                    padding: 10px;
                    display: flex;
                    justify-content: space-between;


                    .labelImg{
                        color: rgb(160, 158, 158);
                        width: 250px;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        margin-bottom: 10px;
                        
                        
                    }
                    .inputImg{
                        background-color: #0000ff24;
                        border-radius: 10px;
                        border: 10px;

                    }

                }

                .inputCategories{
                    color: rgb(160, 158, 158);
                    width: 100%;
                    padding: 10px;
                    flex-wrap: wrap;
                    display: flex;
                    justify-content: space-between;
                    
                    .borde{
                        margin-left: 5px;
                        padding: 2px;
                        border: 0.3px solid gray;
                        border-radius: 5px;
                        .labelBox{
                            margin-left: 7px;
                            cursor: pointer;
                            
    
                            .boxCategories{
                                padding: 8px;
                                margin-left: 3px;
                                /* background: transparent; */
                            }
    
                            &:hover{
                                background-color: #ece8ff;
                                border-radius: 4px;
                            }
                        }

                    }
                }

                .inputsContainer, .inputCategories{
                    width: 100%;
                    padding: 10px;
                    display: flex;
                    justify-content: space-between;

                    label{
                        color: rgb(160, 158, 158);
                        width: 250px;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        margin-bottom: 10px;
                        
                    }

                    input{
                        width: 100%;
                        padding: 8px;
                        border: none;
                        border-bottom: 1px solid gray;
                        background: transparent;
                    }
                    select{
                        border-radius: 5px;
                        background-color: #0000ff24;
                        width:50%;
                        height: 80%;
                    }

                }
            
            .buttonModify{
                width: 150px;
                padding: 15px;
                border-radius: 10px;
                background-color: #6e47f8b8;
                color: white;
                font-weight: bold;
                cursor: pointer;


                &:hover{
                    background-color: #7551f856;
                }
            }
            .buttonModify{
                margin-right: 0%;
                margin-left: 80.6%;
                margin-bottom: 30px;
            }
        }
        .buttonSpace{
             display: flex;
             justify-content:space-between;
            .modalButton, .buttonCancel{
                width: 150px;
                padding: 15px;
                border-radius: 10px;
                background-color: #6e47f8b8;
                color: white;
                font-weight: bold;
                cursor: pointer;
                margin: auto;
            
        }
    }
    }
}
}


@media(max-width : 625px){
    .newProduct{
        .newProductContainer{
             width:97%;
            .top, .bottom{
                width: 70%;
                h1{
                    font-size: 10px;
                }
                form{
                    .inputsContainerImg{
                        font-size: 10px;
                        .inputImg{
                            font-size: 10px;
                        }
                    }
                }
                .buttonModify, .modalButton, .buttonCancel{
                    font-size: 50%;
                    width:90px;
                    padding: 10px;
                    
                }
            }
           .inputCategories,.inputsContainer{
                label{
                    font-size: 10px;
                }
                input{

                    font-size: 0.5rem;
                    line-height: 0.5rem;
                }
                select{
                    font-size: 60%;
                }
            }
        }
    }
}